.lectCat {
    width: '80%';
   height: auto;
    margin: 3rem;
    text-align: center;
}

.cate_card {
    display: flex;
    border-radius: 3rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}