.lectCat {

   height: auto;
    margin: 5rem;
    
    text-align: center;
}

.cate_card {
    display: flex;
    border-radius: 3rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}


@media (max-width: 423px) {

     
    .cate_card{
      display: block;

    
  }
  

  }