.lecture_item h2 {
    font-size: 1.15rem;
    margin: 0.25rem 0;
  }
  
  .lecture_item h2.is-fav {
    color: #ff2058;
  }
  
  .lecture_item p {
    margin: 0.25rem 0;
  }
  

  .lecture_card {
    position: relative;
    border-radius: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
   
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width : 16rem;
    height: 20rem;
    margin: 2rem 1rem;
    justify-content: center;
    text-align: center; 
  }

  
  .lecture_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26);
   
  }


  



  .lecture_card .headImg img{

    
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
  }


  .lecture_card .headImg img:hover::after{

    
    background-color: #ff2058;
  
    
  }





  .lecture_card .description{
    margin-top: 1rem;
  }