.footer {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    position: relative;
    background-color:var(--color-primary);
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
  }
  .f_content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
    
  }
  .f_icons {
    display: flex;
    gap: 2rem;
  }
  
  @media screen and (max-width: 480px){
    .f_content{
      transform: scale(.5);
    }
  }