.carousel{
 
    height: 80vh;
  
    color: var(--color-white);
    background-color:#3f3f3f;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
}


.swiper {
    color: var(--color-black);
}

.banner_card{
  
    height: 80vh;
    width: 100%;
    color: var(--color-white);
    font-size: 5cm;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    background-color: rgb(226, 203, 166);
}

.banner_card2{
  
    height: 80vh;
    width: 100%;
    color: var(--color-white);
    font-size: 5cm;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    background-color: rgb(221, 101, 27);
}

.banner_card3{
  
    height: 80vh;
    width: 100%;
    color: var(--color-white);
    font-size: 5cm;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    background: linear-gradient(180deg, #185319, #063007);
}