.Intro_sect {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-black);
}

.Intro_left{

    flex: 1;
}

.Intro_right{
    flex: 1;
    animation: bounce 2s ease-in-out;
   
}

@keyframes bounce{
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }

  }

@media (max-width: 423px) {
    .Intro_sect {
    display:block;
    height: 100vh;
    }
}